ipython==8.15.0
numpy==1.26.3
pandas==1.5.3
scikit-learn==1.4.2
gunicorn==21.2.0
flask==2.3.3
kfp==2.0.1
google-cloud-pipeline-components==2.3.0
google-cloud-storage==2.14.0
fsspec==2024.3.1
gcsfs==2024.3.1
gspread==6.1.0
tensorflow-data-validation==1.14.0
tensorflow-metadata==1.14.0
protobuf==3.20.3